---
import { Icon } from "astro-icon/components"
import ProductCard from "../Product Card/ProductCard.astro"
import groceries from "../../lib/data/groceries.json"

const filteredBuyItems = groceries.filter(item => item.quantity === 0)
---
<div class="relative flex justify-center items-center">
  <Icon name="chevronLeft" class="size-8 cursor-pointer opacity-50 hover:opacity-100" id="arrowLeft"/>
  <div class="w-full h-full flex gap-4 items-center overflow-x-scroll scroll scroll-smooth scrollbar-hide" id="slider">
    {
      filteredBuyItems.map((item) => {
        return (
          <ProductCard
            image={item.image}
            name={item.name}
            description={item.description}
            weight={item.weight}
            quantity={item.quantity}/>
        )
      })
    }
  </div>
  <Icon name="chevronRight" class="size-8 fill-black cursor-pointer opacity-50 hover:opacity-100" id="arrowRight"/>
</div>

<script>
  const sliderLeft = document.getElementById("slider")
  const arrowLeft = document.getElementById("arrowLeft")
  const arrowRight = document.getElementById("arrowRight")

  if (sliderLeft !== null && arrowLeft !== null) {
    arrowLeft.onclick = () => sliderLeft.scrollLeft = sliderLeft.scrollLeft - 450
  }

  const sliderRight = document.getElementById("slider")
  if (sliderRight !== null && arrowRight !== null) {
    arrowRight.onclick = () => sliderRight.scrollLeft = sliderRight.scrollLeft + 450
  }
</script>

<style>
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
</style>
